ansible==1.9.2
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
boto3==1.2.6
botocore==1.4.3
certifi==2016.2.28
docutils==0.12
ecdsa==0.13
Flask==0.10.1
futures==3.0.5
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
paramiko==1.16.0
pycrypto==2.6.1
python-dateutil==2.5.0
PyYAML==3.11
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
slacker==0.9.9
tornado==4.3
Werkzeug==0.11.4
