- include_vars: variables.yml

- name: Wait until SSH is available  
  local_action: 
    module: wait_for 
    host: "{{ public_ip_address }}"
    port: 22 
    delay: 10 
    timeout: 320 
    state: started

- name: Install pkutils
  sudo: yes
  pip: name=pkutils virtualenv={{ virtualenv_directory }}

- name: Install Ongair via PIP
  sudo: yes
  pip: name=ongair-whatsapp virtualenv={{ virtualenv_directory }} state=latest
        
- name: Install Ongair upstart configuration file.
  sudo: yes
  template: src=ongair-conf.j2 
        dest=/etc/init/{{agent_name}}.conf 
        mode=755 
  notify: Restart Agent
  
