description "Running Ongair via Python"

env PYTHON_HOME={{virtualenv_directory}}
env mandrill_api_key={{mandrill_api_key}}
env uploadcare_public_key={{uploadcare_public_key}}
env env={{env}}
env url={{url}}
env channel={{channel}}
env pub_key={{pub_key}}
env sub_key={{sub_key}}
env db={{db}}
env pwd={{pwd}}
env service_dir={{service_dir}}
env rollbar_key={{rollbar_key}}
env verbose={{verbose}}
env ping_interval={{ping_interval}}
env yowsup_env={{yowsup_env}}
env uploadcare_public={{uploadcare_public}}
env uploadcare_secret={{uploadcare_secret}}
env slack_token={{slack_token}}

start on runlevel [2345]
stop on runlevel [!2345]
normal exit 0 1

#exec /etc/profile.d/ongair-daemon.sh 

exec {{virtualenv_directory}}bin/ongair-cli -a {{account_number}} 



respawn


