- include_vars: variables.yml

- name: Copy stop services script
  sudo: yes
  copy: src=stop-services.py
        dest=/opt/stop-services.py
        owner={{ deploy_user }}
        group={{ deploy_user }} mode=755

- name: Stop ongair services
  command: /opt/stop-services.py

- name: Delete yowsup keys
  sudo: yes
  file: path=/home/deploy/.yowsup state=absent

- name: Init virtualenv
  sudo: yes
  command: virtualenv --clear {{ virtualenv_directory }}

- name: Install pkutils
  sudo: yes
  pip: name=pkutils virtualenv={{ virtualenv_directory }}

- name: Install Ongair via PIP
  sudo: yes
  pip: name=ongair-whatsapp==1.0.12 virtualenv={{ virtualenv_directory }}    
        
- name: Install Ongair upstart configuration file.
  sudo: yes
  template: src=ongair-conf.j2 
        dest=/etc/init/{{item.agent_name}}.conf 
        mode=755 
  with_items: "{{agents}}"
  
- name: Copy Script to restart services into the server
  sudo: yes
  copy: src=restart-services.py 
        dest=/opt/restart-services.py 
        owner={{ deploy_user }} 
        group={{ deploy_user }} mode=755

- name: Restart existing ongair agents via a shell script
  command: /opt/restart-services.py